<form class="contact-form" [formGroup]="contactForm" (ngSubmit)="onSubmit()">

  <!-- Name Input-->
  <div class="row">
    <mat-form-field class="col-6">
      <mat-label>First Name</mat-label>
      <input matInput maxlength="256" placeholder="Ex. John" formControlName="firstName">
      <mat-error *ngIf="firstNameHasRequiredError">
        First name is required
      </mat-error>
    </mat-form-field>
    <mat-form-field class="col-6">
      <mat-label>Last Name</mat-label>
      <input matInput maxlength="256" placeholder="Ex. Doe" formControlName="lastName">
      <mat-error *ngIf="firstNameHasMaxLengthError">
        Last name is required
      </mat-error>
    </mat-form-field>
  </div>

  <!-- Company Input -->
  <div class="row">
    <mat-form-field class="col-12">
      <mat-label>Company Name</mat-label>
      <input matInput maxlength="256" placeholder="Ex. Juan in a Million" formControlName="company">
    </mat-form-field>
  </div>

  <!-- Notes Input-->
  <div class="row" *ngIf="!show">
    <mat-form-field class="col-12">
      <mat-label>Notes</mat-label>
      <textarea matInput maxlength="250" placeholder="Ex. This is a note..." formControlName="notes"></textarea>
      <mat-error *ngIf="notesHasMaxLengthError()">
        Notes cannot be any longer than 250 characters
      </mat-error>
    </mat-form-field>
  </div>

  <hr *ngIf="hasEmails()"/>

  <!-- Mobile Email Input -->
  <div formArrayName="emails">
    <div *ngFor="let email of emailFormArray.controls; let i=index">
      <!-- Angular assigns array index as group name by default 0, 1, 2, ... -->
      <div class="row" [formGroupName]="i">
        <div class="col-1">
          <button class="col-1" type="button" mat-icon-button (click)="removeEmailInput(i)">
            <mat-icon color="accent">remove_circle_outline</mat-icon>
          </button>
        </div>
        <div class="col-11">
          <div class="row">
            <mat-form-field class="col-sm-12 col-md-8">
              <mat-label>Email Address</mat-label>
              <input matInput type="text" placeholder="Ex. example@gmail.com" formControlName="address">
              <mat-error *ngIf="emailHasRequiredError(email)">
                Email is required
              </mat-error>
              <mat-error *ngIf="emailHasEmailError(email)">
                Not a valid email
              </mat-error>
            </mat-form-field>
            <mat-form-field class="col-sm-12 col-md-4">
              <mat-label>Type</mat-label>
              <input matInput type="text" placeholder="Ex. Personal" formControlName="type">
            </mat-form-field>
          </div>
        </div>
      </div>
    </div>
  </div>

  <hr *ngIf="hasPhones()"/>

  <!-- Phone Input -->
  <div formArrayName="phones">
    <div *ngFor="let phone of phoneFormArray.controls; let i=index">
      <!-- Angular assigns array index as group name by default 0, 1, 2, ... -->
      <div class="row" [formGroupName]="i">
        <div class="col-1">
          <button class="col-1" mat-icon-button type="button" (click)="removePhoneInput(i)">
            <mat-icon color="accent">remove_circle_outline</mat-icon>
          </button>
        </div>
        <div class="col-11">
          <div class="row">
            <mat-form-field class="col-sm-12 col-md-8">
              <mat-label>Phone Number</mat-label>
              <input matInput type="text" placeholder="Ex. 303 867 5309" formControlName="number">
              <mat-error *ngIf="phoneHasRequiredError(phone)">
                A phone is required
              </mat-error>
              <mat-error *ngIf="phoneHasPatternError(phone)">
                Not a valid phone number
              </mat-error>
            </mat-form-field>
            <mat-form-field class="col-sm-12 col-md-4">
              <mat-label>Type</mat-label>
              <input matInput type="text" placeholder="Ex. Personal" formControlName="type">
            </mat-form-field>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--Bottom Buttons -->
  <div class="mt-2">
    <button mat-raised-button (click)="addEmailInput()" type="button" class="mr-1" color="accent">Add Email</button>
    <button mat-raised-button (click)="addPhoneInput()" type="button" class="mr-1" color="accent">Add Phone</button>
    <button mat-raised-button (click)="show =! show" type="button" color="accent">Add Notes</button>
    <button mat-raised-button color="primary" [disabled]="!contactForm.valid" type="submit" class="float-right">Submit
    </button>
  </div>

</form>
