<form class="contact-form" [formGroup]="contactForm" (ngSubmit)="onSubmit()">

  <h3>Name</h3>

  <mat-form-field class="example-full-width">
    <mat-label>First Name</mat-label>
    <input matInput maxlength="256" placeholder="Ex. John" formControlName="firstName">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Last Name</mat-label>
    <input matInput maxlength="256" placeholder="Ex. Doe" formControlName="lastName">
  </mat-form-field>


  <h3>Emails
    <button (click)="addEmailInput()" type="button">Add Email</button>
  </h3>


  <div formArrayName="emails">
      <div *ngFor="let email of getEmailFormArray().controls; let i=index">
        <div>
          <span>Email {{i + 1}}</span>
          <button (click)="removeEmailInput(i)">Remove</button>
        </div>

        <!-- Angular assigns array index as group name by default 0, 1, 2, ... -->
        <div [formGroupName]="i">
          <mat-form-field>
            <mat-label>address</mat-label>
            <input matInput type="text" placeholder="Ex. example@gmail.com" formControlName="address">
          </mat-form-field>
          <mat-form-field>
            <mat-label>type</mat-label>
            <input matInput type="text" placeholder="Ex. Personal" formControlName="type">
          </mat-form-field>
        </div>
      </div>
    </div>

  <h3>Phone
      <button (click)="addPhoneInput()" type="button">Add</button>
  </h3>

  <div formArrayName="phones">
    <div *ngFor="let phone of getPhoneFormArray().controls; let i=index">
      <div>
        <span>Phone {{i + 1}}</span>
        <button (click)="removePhoneInput(i)" type="button">Remove</button>
      </div>

      <!-- Angular assigns array index as group name by default 0, 1, 2, ... -->
      <div [formGroupName]="i">
        <mat-form-field>
          <mat-label>Phone Number</mat-label>
          <input matInput type="text" placeholder="Ex. 303 867 5309"formControlName="number">
        </mat-form-field>
        <mat-form-field>
          <mat-label>type</mat-label>
          <input matInput type="text" placeholder="Ex. Personal" formControlName="type">
        </mat-form-field>
      </div>
    </div>
  </div>

  <h3>Company
    <button (click)="addCompanyInput()" type="button">Add</button>
  </h3>

  <div formArrayName="companies">
    <div *ngFor="let company of getCompanyFormArray().controls; let i=index">
      <div>
        <span>Company {{i + 1}}</span>
        <button (click)="removeCompanyInput(i)" type="button">Remove</button>
      </div>

      <!-- Angular assigns array index as group name by default 0, 1, 2, ... -->
      <div [formGroupName]="i">
        <mat-form-field>
          <mat-label>Company Name</mat-label>
          <input matInput type="text" placeholder="Ex. Juan in a Million"formControlName="number">
        </mat-form-field>
      </div>
    </div>
  </div>

  <button mat-button [disabled]="!contactForm.valid" type="submit">Submit</button>
</form>
<!--<p>-->
<!--  {{contactForm.value | json}}-->
<!--</p>-->
